.button {
  @extend .text;

  font-weight: 600;
  color: color(light);
  padding: ($gutter * 2) ($gutter * 2);
  margin-top: ($gutter * 2);
  text-decoration: none;
  display: inline-block;

  @include media("md") {
    padding: ($gutter * 4) ($gutter * 5);
    margin-top: ($gutter * 4);
  }

  &--buttonbg {
    background: color(primary);

    &:hover {
      background: darken(color(primary), 8%);
      transition: all 0.3s ease;
    }
  }
}
