.info-block {
  //padding: ($gutter * 5) ($gutter * 2);
  width: 90%;

  @include media("md") {
    width: 55%;
  }

  &__box {
    margin: 0;

    @include media("md") {
      margin: 0;
    }
  }

  &__text {
    @extend .headline;

    //background-color: transparentize(color(grey), 0.8);
    color: color(light);
    border-radius: 0 $gutter * 3.5 $gutter * 3.5 0;

    &--ele {
      margin-left: ($gutter * 1);
    }
  }

  &__title {
    @extend .text;

    padding: ($gutter * 2);
    width: 80%;
    background-color: color(secondary);
    color: color(light);
    border-radius: 0 $gutter * 3.5 0 0;

    @include media("md") {
      width: 80%;
    }
  }
}
