.offer {
	position: relative;

	&__content {
		padding: ($gutter * 8) 0;
		display: flex;
		flex-wrap: wrap;
		z-index: 10;
		position: relative;
	  }

    &__menu {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      list-style-type: none;
      list-style-position: inside;

      li {
        border-radius: 0 28px 0 0;
        margin: 0 $gutter * 1;
        padding: $gutter * 3;
        display: flex;
        align-items: center;
        background-color: color(lightgrey);

        &:hover {
          background-color: color(primary);

          span {
            color: color(light);
          }
        }
      }

      span {
        margin-top: $gutter * 1;
      }
    }
  }
}
