.page-box {
  @include cssLock("padding-top", 360, 1920, ($_gutter * 5, $_gutter * 13));
  @include cssLock("padding-bottom", 360, 1920, ($_gutter * 5, $_gutter * 11));
  @include cssLock("padding-left", 360, 1920, ($_gutter * 4, $_gutter * 12));
  @include cssLock("padding-right", 360, 1920, ($_gutter * 4, $_gutter * 8));

  position: relative;
  z-index: 2;
  display: flex;
  width: 100%;
  border-radius: 0 ($gutter * 3.5) 0 0;

  @include media("md") {
    width: 45%;
  }

  &--light {
    background-color: color(light);
  }
}
