.single-realization {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: color(lightgrey);
  margin-bottom: $gutter * 5;

  @include media("md") {
    width: 48%;
  }

  &__img {
    position: relative;
    width: 100%;
    padding-top: 60%;
    margin: 0;
  }

  &__textbox {
    padding: $gutter * 3;

    @include media("md") {
      padding: ($gutter * 6) ($gutter * 6) ($gutter * 1) ($gutter * 6);
    }

    &--primary {
      color: color(primary);
    }
  }

  &__desc {
    @extend .text;

    color: color(grey);
  }

  &__title {
    margin-bottom: ($gutter * 2);
  }

  &__button {
    align-self: self-start;
  }
}
