.single-realization {
  display: flex;
  width: 48%;
  flex-direction: column;
  background-color: color(lightgrey);

  &__img {
    position: relative;
    width: 100%;
    padding-top: 60%;
    margin: 0;
  }

  &__textbox {
    padding: ($gutter * 6) ($gutter * 6) ($gutter * 1) ($gutter * 6);

    &--primary {
      color: color(primary);
    }
  }

  &__desc {
    @extend .text;

    color: color(grey);
  }

  &__title {
    margin-bottom: ($gutter * 2);
  }

  &__button {
    align-self: self-start;
  }
}
