%text {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: font(main);
}

.headline {
  @extend %text;
  @include cssLock("font-size", 360, 1920, (24, 70));
  font-weight: 700;
}

.title {
  @extend %text;
  @include cssLock("font-size", 360, 1920, (18, 45));
  //font-weight: 800;
}

.subtitle {
  @extend %text;
  @include cssLock("font-size", 360, 1920, (12, 18));
  //font-weight: 600;
}

.text {
  @extend %text;
  @include cssLock("font-size", 360, 1920, (12, 16));
}

.large-text {
  @extend %text;
  @include cssLock("font-size", 360, 1920, (16, 30));
  font-weight: 600;
}

.small-text {
  @extend %text;
  @include cssLock("font-size", 360, 1920, (10, 12));
}

.special {
  @extend %text;
  @include cssLock("font-size", 360, 1920, (5, 8));
}
