.call {
  margin-top: $gutter * 15;
  margin-bottom: $gutter * 15;
  position: relative;

  &__wrapper {
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: center;
  }

  &__overlay {
    @extend .overlay;
  }

  &__title {
    color: color(light);
    display: flex;
    align-items: center;
    padding: ($gutter * 7);

    @include media("md") {
      padding: ($gutter * 10);

      &--margin {
        margin-bottom: $gutter * 3;
      }
    }
  }

  &__bg {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
  }
}
