.call {
  @extend .call;

  position: relative;

  &__wrapper {
    display: flex;
    z-index: 1;
    position: relative;
    justify-content: center;
  }

  &__title {
    color: color(light);
    display: flex;
    align-items: center;
    padding: ($gutter * 10);
  }

  &__bg {
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0.6;
  }
}
