.content-header {
  @extend .large-text;

  color: color(primary);
  text-align: center;

  &__center {
    text-align: center;
    margin: auto;
    display: block;
  }
  &__left {
    margin: 0;
    text-align: left;
    display: block;
    margin-bottom: ($gutter * 3);
  }
}
