.iconpack {
  @extend .section;

  &__wrapper {
    @include cssLock("grid-gap", 360, 1920, ($_gutter * 1, $_gutter * 2));

    @include media("md") {
      grid-template-columns: repeat(5, 1fr);
    }

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    list-style-type: none;
    list-style-position: inside;

    img {
      @include cssLock("width", 360, 1920, ($_gutter * 4, $_gutter * 16));

      display: flex;

      @include media("lg") {
        display: flex;
        width: $gutter * 12;
      }
    }
  }
  &__desc {
    @extend .small-text;
    color: color(primary);
    margin-top: $gutter * 1;
    font-weight: 800;
  }
  &__ele {
    @include cssLock("padding", 360, 1920, ($_gutter * 2, $_gutter * 4));

    @include media("lg") {
      justify-self: auto;
    }
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: color(lightgrey);
    justify-self: center;
    border-radius: 0 ($gutter * 3.5) 0 0;

    &:hover {
      background-color: color(primary);
      transition: all 0.3s ease;

      span {
        color: color(light);
        transition: all 0.3s ease;
      }

      img {
        filter: brightness(0) invert(1);
      }
    }
  }
}
