.iconpack {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;

  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    list-style-position: inside;

    li {
      border-radius: 0 28px 0 0;
      margin: 0 $gutter * 1;
      padding: $gutter * 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: color(lightgrey);

      &:hover {
        background-color: color(primary);

        span {
          color: color(light);
        }

        img {
          filter: brightness(0) invert(1);
        }
      }
    }

    span {
      margin-top: $gutter * 1;;
    }

    img {
      display: flex;
      width: $gutter * 10;
    }
  }
}
