.offer {
  @extend .section;

  background-color: color(lightgrey);
  position: relative;

  &__wrapper {
    padding: ($gutter * 8) 0;
    z-index: 10;
    position: relative;
  }

  &__menu {
    @extend .text;

    color: color(primary);
    font-weight: 600;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: color(light);
    border-radius: 0 $gutter * 3.5 0 0;
    list-style-type: none;
    list-style-position: inside;
  }

  &__ele {
    border-radius: 0 $gutter * 3.5 0 0;
    margin: 0;
    padding: $gutter * 3;
    display: flex;
    flex-grow: 1;
    transition: all 0.3s ease;
    background-color: color(light);

    span {
      transition: all 0.3s ease;
    }

    &:hover {
      background-color: color(primary);

      span {
        color: color(light);
      }
    }
  }

  &__singlebox {
    margin: $gutter * 6 0;
    display: flex;
    justify-content: space-between;
  }

  &__textbox {
    width: 55%;
  }
}
