.photoline {
  &__wrapper {
    display: flex;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    height: 25vh;
    width: 100%;

    @include media("lg") {
      height: 45vh;
    }
  }

  &__img {
    position: relative;
    width: 20%;
    margin: 0;
  }
}
