.section-header {
  text-align: center;
  margin-bottom: $gutter * 6;

  &--left {
    text-align: left;
    display: block;
    margin-left: auto;
  }

  &--light {
    color: color(light);
  }
  &--primary {
    color: color(primary);
  }

  &__title {
    @extend .title;
    margin: auto;
    display: block;
  }

  &__sub {
    @extend .subtitle;
    display: block;
    margin-bottom: ($gutter * 1);
  }
}
