.section-header {
  color: color(primary);
  text-align: center;

  &__title {
    text-align: center;
    margin: auto;
    display: block;

    &--left {
      text-align: left;
      display: block;
      margin-left: auto;
    }
  }

  &__sub {
    display: block;

    &--left {
      position: relative;
      display: block;
      text-align: left;
    }
  }
}
