.section-header {
  z-index: 100;

  &--center {
    text-align: center;
  }

  &--addmargin {
    margin-bottom: ($gutter * 6);
  }

  &--left {
    text-align: left;
    display: block;
    margin-left: auto;
  }

  &--light {
    color: color(light);
  }

  &--primary {
    color: color(primary);
  }

  &__headline {
    @extend .headline;

    display: block;
  }

  &__title {
    @extend .title;

    font-weight: 700;
    margin: auto;
    display: block;
  }

  &__sub {
    @extend .subtitle;

    font-weight: 600;
    display: block;
    margin-bottom: ($gutter * 1);
  }
}
