.send {
  @extend .section;

  padding-top: $gutter * 13;
  background-color: color(secondary);
  position: relative;

  &__bg {
    margin: 0;
    width: 80%;
    height: 100%;
    position: absolute;
    z-index: 0;
    left: 80%;
    top: 0;
    opacity: 0.5;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    display: flex;
  }

  &__title {
    color: color(light);
    display: flex;
  }
}
