.send {
  @extend .section;

  background-color: color(secondary);
  position: relative;

  &__top {
    padding: 50px;
    background-color: color(primary);
    z-index: 2;
  }

  &__bg {
    display: none;
    margin: 0;
    width: 65%;
    height: 82%;
    position: absolute;
    z-index: 0;
    left: 0%;
    bottom: 0;
    opacity: 0.8;

    @include media("md") {
      display: block;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: $gutter * 5;

    @include media("md") {
      margin-top: $gutter * 17;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    display: flex;
  }

  &__title {
    color: color(light);
    display: flex;
  }
}
