.send {
  @extend .section;

  padding-top: $gutter * 13;
  background-color: color(secondary);
  position: relative;

  &__bg {
    margin: 0;
    width: 60%;
    height: 75%;
    position: absolute;
    z-index: 0;
    left: 0%;
    bottom: 0;
    opacity: 0.8;
  }

  &__wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: $gutter * 17;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    display: flex;
  }

  &__title {
    color: color(light);
    display: flex;
  }
}
