.text-img {
  @extend .section;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__imagebox {
    display: none;
    margin: 0;
    padding: 0;

    @include media("lg") {
      position: relative;
      width: 40%;
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__textbox {
    width: 100%;
    justify-self: flex-end;
    margin-left: ($gutter * 2);

    @include media("lg") {
      width: 48%;
    }
    &--left {
      margin: 0 0 0 65px;
    }
    &--right {
      margin: 0 65px 0 0;
    }
  }
  &__desc {
    @extend .text;
    line-height: ($gutter * 4);
    color: color(grey);
  }

  &__checktext {
    @extend .text;

    font-weight: 300;
    margin-top: ($gutter * 5);

    @include media("lg") {
      font-weight: 300;
      padding: 0;
    }
    li {
      display: flex;
      padding: ($gutter * 1) 0;
    }
  }
  &__icon {
    width: 2%;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
}
