.small-hero {
  @extend .overlay;

  height: 35vh;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__image {
    @extend .image;
    @extend .absolute;

    z-index: -1;
  }

  &__header {
    @extend .title;

    color: color(light);
    position: relative;
    z-index: 10;
  }
}
